<!DOCTYPE html>
<html>
    <head>
        <title>New Restaurant</title>
    </head>
    <body>
        <h1>HI</h1>
        <h4>{{ results.getName }}</h4>
        <h4>{{ results.getDescription }}</h4>
        <form class="form-group" action="/">
            <button type="submit">Home</button>
        </form>
    </body>
</html>
